/* ==========================================================================
   Mapel Module Styles
   ========================================================================== */

.mapel-name-tag {
    font-weight: 700;
    color: var(--text-main);
    font-size: 0.95rem;
}
